---
AccessModifierOffset: -4
AlignEscapedNewlines: Left
AlignTrailingComments: 'true'
BasedOnStyle: Microsoft
BreakBeforeBraces: Allman
ColumnLimit: 0
Cpp11BracedListStyle: 'true'
FixNamespaceComments: 'true'
NamespaceIndentation: All
PointerAlignment: Left
SpaceBeforeCpp11BracedList: 'true'
SpacesInContainerLiterals: 'true'
UseTab: ForContinuationAndIndentation
