[submodule "nRF5_SDK"]
	path = vendor/nRF5_SDK
	url = https://github.com/nitz/nRF5_SDK.git
[submodule "littlefs"]
	path = vendor/littlefs
	url = https://github.com/ARMmbed/littlefs.git
[submodule "Cie1931"]
	path = vendor/Cie1931
	url = https://github.com/nitz/Cie1931.git
[submodule "lvgl"]
	path = vendor/lvgl/lvgl
	url = https://github.com/lvgl/lvgl.git
[submodule "TinyFSM"]
	path = .\\vendor\\TinyFSM
	url = https://github.com/digint/tinyfsm.git
